<%= form_for(@house, :class => 'form-horizontal') do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <% @house.errors.full_messages.each do |msg| %>
        <div class ="alert alert-danger"><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :area %><br />
    <%= f.text_field :area, :class => "form-control", :placeholder => "Area in Sq Ft"   %>
  </div>
  <div class="btn-group btn-group-justified">
    <div class='btn-group'>
      <%= f.submit @action, :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>

