<div id ="notifications", class="panel panel-info">
  <% @notifications.each do |notification|%>
    <div class="panel-heading">
      <% if notification.member_id == current_member.id%>
      <%=link_to notification.title, edit_notification_path(notification)%>
    <%else%>
      <%= notification.title%>
    <% end %>
      <span class='label label-default pull-right'>
        Created by: <%= notification.member.name%>
      </span>
    </div>
    <div class="panel-body">
      <%= notification.content%>
    </div>
  <% end %>
  <div class='panel-footer'>
    <%= link_to 'Create new notification', new_notification_path %>
  </div>
</div>
<%= will_paginate%>
