<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oasis Vijaya Association</title>
    <%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Oasis Vijaya Association Portal</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav"> </ul>
        <% if member_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href='#'>Logged in as <%= current_member.email %></a></li>
            <li><%= link_to 'Edit profile', edit_member_path(current_member) %></li>
            <li><%= link_to 'Cancel account', registration_path(:member), :method => :delete, :confirm => 'Are you sure?' %></li>
            <li><%= link_to 'Logout', destroy_member_session_path, :method => :delete %> </li>
          </ul>
        <% end %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
    <div class = 'container-fluid'>
      <div class='row'>
        <% if member_signed_in? %>
          <div class='col-md-8'>
            <%= yield %>
          </div>
          <%= render 'layouts/left_panel'%>
        <% else %>
          <div class='col-md-12'>
            <%= yield %>
          </div>
        <% end %>
      </div>
    </body>
  </html>
