<%= form_for(@member, :class => 'form-horizontal') do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <% @member.errors.full_messages.each do |msg| %>
        <div class ="alert alert-danger"><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Name", :id => "inputError1" %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => "form-control", :placeholder => "Email"   %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.text_field :password, :class => "form-control", :placeholder => "Password" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation, :class => "form-control", :placeholder => "Confirm Password" %>
  </div>
  <div class="form-group">
    <%= f.label :contact_no %><br />
    <%= f.text_field :contact_no, :class => "form-control", :placeholder => "Phone No"  %>
  </div>
  <div class="form-group">
    <%= f.label :sex %><br />
    <%= f.select :sex, %w(male female), :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :role %><br />
    <%= f.select :role, %w(admin member), :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :blood_group %><br />
    <%= f.select :blood_group, %w(A+ A- O+ O- B+ B- AB+ AB-), :class => "form-control" %>
  </div>
  <div class="col-sm-6 controls">
    <%= f.submit @action, :class => 'form-control btn btn-primary' %>
  </div>
<% end %>
