<div class="list-group">
  <div class="media">
    <%= image_tag @member.avatar.url(:thumb), :class => 'media-object pull-left'%>
    <div class="media-body list-group-item list-group-item-info">
      <h4><%= @member.name%></h4>
    </div>
  </div>
  <div class="list-group-item">
    <b>House:</b> <b><%= @member.house.name%> (<%= @member.house.area%> sq ft)</b>
  </div>
  <div class="list-group-item">
    <b>Sex:</b> <%= @member.sex%>
</div>
  <div class="list-group-item">
    <b>Contact No:</b><%= @member.contact_no%>
</div>
  <div class="list-group-item">
    <b> Email: </b><%= @member.email%>
</div>
  <div class="list-group-item">
    <b> Blood Group: </b><%= @member.blood_group%>
</div>

  <% if @member.date_of_birth %>
    <div class="list-group-item">
    <b> Date Of Birth: </b><%= @member.date_of_birth.strftime("%d/%m/%Y")%>
</div>
<% end %>

  <% if @member.wedding_anniversary %>
    <div class="list-group-item">
    <b> Wedding Anniversary: </b><%= @member.wedding_anniversary.strftime("%d/%m/%Y") %>
</div>
<% end %>

  <% if current_member.can_edit?(@member)%>
    <div class="btn-group btn-group-justified">
    <div class='btn-group'>
      <%= link_to 'Edit', edit_member_path(@member), :class=> 'btn btn-primary' %>
    </div>
    <div class='btn-group'>
      <%= link_to 'Delete', @member,:confirm => 'Are you sure?', :method => 'delete', :class=> 'btn btn-danger' %>
    </div>
  </div>
<%end%>
</div>
