<div class="list-group">
  <a href='#' class="list-group-item list-group-item-info">
    <h4><%= @member.name%></h4>
  </a>
  <div class="list-group-item">
    <span class="label label-default"> Sex </span><%= @member.sex%>
  </div>
  <div class="list-group-item">
    <span class="label label-default"> Contact No </span><%= @member.contact_no%>
  </div>
  <div class="list-group-item">
    <span class="label label-default"> Email </span><%= @member.email%>
  </div>
  <div class="list-group-item">
    <span class="label label-default"> Blood Group </span><%= @member.blood_group%>
  </div>

  <% if current_member.can_edit?(@member)%>
    <div class="btn-group btn-group-justified">
      <div class='btn-group'>
        <%= link_to 'Edit', edit_member_path(@member), :class=> 'btn btn-primary' %>
      </div>
      <div class='btn-group'>
        <%= link_to 'Delete', @member,:confirm => 'Are you sure?', :method => 'delete', :class=> 'btn btn-danger' %>
      </div>
    </div>
  <%end%>
</div>
