<div class="list-group">
  <a href='#' class="list-group-item list-group-item-info">
    <h4><%= @member.name%></h4>
  </a>
  <div class="list-group-item">
    <%= @member.sex%>
  </div>
  <div class="list-group-item">
    <%= @member.contact_no%>
  </div>
  <div class="list-group-item">
    <%= @member.email%>
  </div>
  <div class="list-group-item">
    <%= @member.blood_group%>
  </div>

  <% if current_member.can_edit?(@member)%>
    <%= link_to 'Edit', edit_member_path(@member), :class=> 'list-group-item active' %>
  <%end%>
</div>
